/* 
Created by Siumbeli Vladislav on Jun 14, 2016. 
*/

body {
    line-height: 1;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: block; 
    background-color: #efefef;
    text-transform: uppercase;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-size: 45px;
    color: #3b3b3b
    letter-spacing: 2px;
    font-weight: 550;
}

/************ main Page ************************/

.square {
    margin: 20px 0px 20px 0px;
}

/* advertise thumb */
.ad-thumb {
    position: relative;
    height: 200px;
    background-color: #ffffff;
}

/* not active thumb */
.not-active-thumb {
    position: relative;
    height: 200px;
    border-radius: 10px;
    background-color: #cfcfcf;
}

/* active thumb */
.square-thumb {
    position: relative;
    height: 200px;
    background-color: #1E8BC3;
    border-radius: 10px; 
    color: #ffffff;
}

.square-thumb:hover {
    border: 2px solid #3b3b3b;
    color: #3b3b3b;
}

h3 {
    font-size: 18px;
}

h6 {
    color: #3b3b3b;
    text-transform: none;
}

img {
    padding-top: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ffffff;
}

a {
    text-decoration: none !important;
}

/************ doc Page *************************/

/* advertise thumb */
.adv-thumb {
    position: relative;
    height: 100px;
    background-color: #ffffff;
}

/* insert box */
.insert-thumb {
    background-color: #cfcfcf;
    border-radius: 10px;
}

.inputfile {
    opacity: 0;
    position: absolute;
}

.box label {
    max-width: 80%;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    text-transform: none;
    padding: 20px;
    color: #1E8BC3;
    margin: auto;
}

.box label:hover {
    color: #0c6b9b;
}

.box img {
    padding-top: 20px;
}

figure {
    width: 100px;
    height: 100px;
    border-radius: 25%;
    background-color: #1E8BC3;
    margin: 0 auto 10px;
}

.box label:hover figure {
    background-color: #0c6b9b;
}

/* choose type box */
label {
    margin-right: 10px; 
}

select {
    font-size: 15px;
    width: 200px;
    border: 0;
    height: 34px;
    color: #1E8BC3;
    border: 1px solid #1E8BC3;
}

/* convert button */
.convert {
    font-size: 30px;
    background-color: #1E8BC3;
    color: #FFFFFF;
    padding: 15px 30px;
    border-radius: 10px;
    border: 2px solid #1E8BC3;
    text-transform: uppercase;
}

.convert:hover {
    border: 2px solid #3b3b3b;
    color: #3b3b3b;
}

/* back link */
.back {
    background-color: #3b3b3b;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 10px;
    border: 2px solid #3b3b3b; 
}

.back:hover {
    border: 2px solid #1E8BC3;
    color: #1E8BC3;
}

/************ footer ***************************/

footer ul {
    padding: 20px;
}

footer ul li {
    display: inline-block;
    padding: 20px;
    cursor:pointer;
}

footer li a {
    color: #3b3b3b;
}

footer li a:hover {
    color: #1E8BC3;
}


/************ modals ***************************/

.modal-content {
    border-radius: 15px;
    border: none;
}

.modal-header {
    background-color: #1E8BC3;
    height: 70px;
    border-radius: 10px 10px 0px 0px;
}

.modal-title {
    color: #ffffff;
    text-transform: none;
}

.modal-body {
    height: 400px;
    overflow: scroll;
    background-color: #efefef;
}

.modal-body p {
    color: #3b3b3b;
    text-transform: none;
}

.modal-footer {
    background-color: #1E8BC3;
    height: 70px;
    border-radius: 0px 0px 10px 10px;
}

.closeBut {
    color: #3b3b3b;
}

.closeBut:hover {
    background-color: #0c6b9b;
    border-color: #0c6b9b;
    color: #ffffff;
}

/************ responsivenes ********************/

@media only screen and (max-width: 767px){

    .hideRes {
        display: none;
    }

    .modal-title {
        font-size: 30px;
    }
}
