/* 
Created by Siumbeli Vladislav on Jun 14, 2016. 
*/

body {
    line-height: 1;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: block; 
    background-color: #efefef;
    text-transform: uppercase;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-size: 45px;
    color: #3b3b3b
    font-weight: 550;
}

h4 {
    color: #1E8BC3;
}

p {
    text-transform: none;
    font-size: 15px;
    color: #3b3b3b;
}

hr {
    border-color: #1E8BC3;
}

/************ main Page ************************/

.square {
    margin: 20px 0px 20px 0px;
}

/* not active thumb */
.not-active-thumb {
    position: relative;
    height: 200px;
    border-radius: 10px;
    background-color: #cfcfcf;
}

/* active thumb */
.square-thumb {
    position: relative;
    height: 200px;
    background-color: #1E8BC3;
    border-radius: 10px; 
    color: #ffffff;
}

.square-thumb:hover {
    border: 2px solid #3b3b3b;
    color: #3b3b3b;
}

h3 {
    font-size: 18px;
}

h6 {
    color: #3b3b3b;
    text-transform: none;
}

.square-thumb img,
.not-active-thumb img {
    padding-top: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ffffff;
}

a {
    text-decoration: none !important;
}

/************ doc Page *************************/

.steps {
    text-align: left;
}

/* advertise thumb */
.advertisment {
    position: relative;
    height: 90px;
    width: 728px;
    margin: auto;
    background-color: #ffffff;
}

/* insert box */
.insert-thumb {
    background-color: #cfcfcf;
    border-radius: 10px;
}

.box {
    padding: 40px;
}

.box p {
    text-transform: none;
}

.inputfile {
    opacity: 0;
    position: absolute;
}

.box label {
    border: 1px solid #1E8BC3;
    background-color: #cfcfcf;
    cursor: pointer;
    margin: 0;
}

.box label:hover {
    border-color: #0c6b9b;
}

.box img {
    width: 20px;
}

.box label strong {
    padding: 10px 30px;
    font-size: 18px;
    color: #ffffff;
    background-color: #1E8BC3;
    display: inline-block;
}

.box label:hover strong  {  
    background-color: #0c6b9b;
}

/* choose type box */
.ui-select-offscreen {
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    outline: 0 !important;
    left: 0px !important;
    top: 0px !important;
}

.ui-select-bootstrap .ui-select-toggle > .caret {
    position: absolute;
    height: 10px;
    top: 50%;
    right: 10px;
    margin-top: -2px;
}

.ui-select-bootstrap > .ui-select-choices {
    width: 100%;
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    margin-top: -1px;
}

.ui-select-bootstrap .ui-select-choices-row>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #3b3b3b;
    text-transform: none;
    white-space: nowrap;
}

.ui-select-bootstrap .ui-select-choices-row>a:hover, 
.ui-select-bootstrap .ui-select-choices-row>a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #cfcfcf;
}

.ui-select-bootstrap .ui-select-choices-row.active>a {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}

.ui-select-bootstrap .ui-select-choices-row.disabled>a,
.ui-select-bootstrap .ui-select-choices-row.active.disabled>a {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
}

/* convert button */
.convert {
    font-size: 30px;
    background-color: #1E8BC3;
    color: #FFFFFF;
    padding: 15px 30px;
    border-radius: 10px;
    border: 2px solid #1E8BC3;
    text-transform: uppercase;
}

.convert:hover {
    border: 2px solid #3b3b3b;
    color: #3b3b3b;
}

/* back link */
.back {
    background-color: #3b3b3b;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 10px;
    border: 2px solid #3b3b3b; 
}

.back:hover {
    border: 2px solid #1E8BC3;
    color: #1E8BC3;
}

/************ quote ************************/

.quote p {
    text-align: right;
    color: #c94778;
}

/************ footer ***************************/

footer ul {
    padding: 20px 20px 0px 20px;
}

footer ul li {
    display: inline-block;
    padding: 20px 20px 0px 20px;
    cursor:pointer;
}

footer li a {
    color: #3b3b3b;
}

footer li a:hover {
    color: #1E8BC3;
}

.rights ul li {
    padding: 0px;
    font-size: 11px;
    text-transform: none;
}

/************ modals ***************************/

.modal-content {
    border-radius: 15px;
    border: none;
}

.modal-header {
    background-color: #1E8BC3;
    height: 70px;
    border-radius: 10px 10px 0px 0px;
}

.modal-title {
    color: #ffffff;
    text-transform: none;
}

.modal-body {
    height: 400px;
    overflow: scroll;
    background-color: #efefef;
}

.modal-body p {
    color: #3b3b3b;
    text-transform: none;
    text-align: left;
}

.modal-body h5 {
    padding: 10px;
    border-bottom: 1px solid #1E8BC3;
}

.modal-footer {
    background-color: #1E8BC3;
    height: 70px;
    border-radius: 0px 0px 10px 10px;
}

.closeBut {
    color: #3b3b3b;
}

.closeBut:hover {
    background-color: #0c6b9b;
    border-color: #0c6b9b;
    color: #ffffff;
}

.aboutRight {
    text-align: right !important;
}

/************ responsivenes ********************/

@media only screen and (max-width: 767px){

    p, h2 {
        padding-bottom: 20px;
    }

    .hideMob {
        display: none;
    }

    .modal-title {
        font-size: 30px;
    }

    .box label span {
        min-height: 30px;
    }

    .advertisment {
        width: auto;
        height: 100px;
    }
}

@media screen and (max-width: 767px) {
    .inputfile + label strong {
        display: block;
    }
}
