<!-- -->
<!-- Created by Siumbeli Vladislav on Jun 28, 2016. -->
<!-- -->

<div class="modal-content">
	<div class="modal-header">
	    <button type="button" class="close" ng-click="$close()" data-dismiss="modal">&times;</button>
	    <h1 class="modal-title">About Us</h1>
	</div>
	<div class="modal-body">
	    
	    <p>We let you use a free and simple online file converter that works with a wide range of file types. It will convert any document, image, audio, archive, ebook and video file from one format to another. Our service is offered at absolutely no charge and without the need to download additional software. Just click the Browse button, select your file and upload it. We will take care of the rest.</p>

		<p>We answered the most frequently asked questions in the <strong>FAQ</strong> section.</p>
	    <br/>

		<p>If you can not find your answer there, <a href="mailto:office@any-converter.com" title="Contact Us">contact us</a>.</p>
		<p>We try to respond to all enquiries as fast as possible.</p>
		<br/>

		<p class="aboutRight"><em><strong>Thank You for using any-converter.com</strong></em></p>

		<img src="app/img/smile.png" alt="Convert Smile">
		

	</div>
	<div class="modal-footer">
		<button class="btn btn-default closeBut" ng-click="$close()">Close</button>
	</div>
</div>
