<!-- -->
<!-- Created by Siumbeli Vladislav on Jun 28, 2016. -->
<!-- -->

<div class="modal-content">
	<div class="modal-header">
	    <button type="button" class="close" ng-click="$close()" data-dismiss="modal">&times;</button>
	    <h1 class="modal-title">Contact</h1>
	</div>
	<div class="modal-body">
	    <p>We answered the most frequently asked questions in the <strong>FAQ</strong> section.</p>
	    <br/>
		<p>If you can not find your answer there, <a href="mailto:office@any-converter.com" title="Ticket Support">send a ticket support</a>.</p>
		<p>We try to respond to all enquiries as fast as possible.</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default closeBut" ng-click="$close()">Close</button>
	</div>
</div>
