<div class="container">
    <div class="row">
        <h1>Any Converter</h1>

        <!-- advertise -->
        <div class="hideRes square col-sm-4">
            <div class="ad-thumb">
            </div>
        </div>
        <div class="hideRes square col-sm-4">
            <div class="ad-thumb">
            </div>
        </div>
        <div class="square col-sm-4">
            <div class="ad-thumb">
            </div>
        </div>

        <!-- not active link -->
        <div class="square col-sm-4">
            <div class="not-active-thumb">
                <img src="app/img/image.png" alt="Conevert Image">
                    <h3>image</h3>
                    <h6>Coming soon...</h6>
                </div>
            </div>

        <!-- document link -->
        <div class="square col-sm-4">
            <a ui-sref="convert-document">
                <div class="square-thumb">
                    <img src="app/img/doc.png" alt="Convert Document">
                    <h3>document</h3>
                </div>
            </a>
        </div>

        <!-- not active link -->
        <div class="square col-sm-4">
            <div class="not-active-thumb">
                <img src="app/img/audio.png" alt="Convert Audio">
                <h3>audio</h3>
                <h6>Coming soon...</h6>
            </div>
        </div>

        <!-- advertise -->
        <div class="square col-sm-4">
            <div class="ad-thumb">
            </div>
        </div>
        <div class="hideRes square col-sm-4">
            <div class="ad-thumb">
            </div>
        </div>
        <div class="hideRes square col-sm-4">
            <div class="ad-thumb">
            </div>
        </div>

        <!-- footer -->
        <footer class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul>
                        <li><a href="#">faq</a></li>
                        <li><a href="#">terms of service</a></li>
                        <li><a href="#">privacy</a></li>
                        <li><a href="#">security</a></li>
                        <li><a href="#">support</a></li>
                    </ul>
                </div>
            </div>
        </footer>