<!-- -->
<!-- Created by Siumbeli Vladislav on Jun 14, 2016. -->
<!-- -->

<div class="container">
    
    <h1>Any Converter</h1>
    <p>Convert any file easy, free and fast from one format to another!</p>

    <!-- quote -->
    <div class="row">
        <div class="col-sm-7"></div>

        <div class="col-sm-5 quote">
            <br/>
            <p><em>“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”</em> </p>
            <p>― Albert Einstein</p>
        </div>
    </div>

    <div class="row">
        <!-- not active -->
        <div class="square col-sm-4">
            <div class="not-active-thumb hideMob">
                <img src="app/img/image.png" alt="Convert Image">
                <h3>image</h3>
                <h6>Coming soon...</h6>
            </div>
        </div>

        <!-- document link -->
        <div class="square col-sm-4">
            <a ui-sref="app.convert-document">
                <div class="square-thumb">
                    <img src="app/img/doc.png" alt="Convert Document">
                    <h3>document</h3>
                </div>
            </a>
        </div>

        <!-- not active -->
        <div class="square col-sm-4">
            <div class="not-active-thumb hideMob">
                <img src="app/img/audio.png" alt="Convert Audio">
                <h3>audio</h3>
                <h6>Coming soon...</h6>
            </div>
        </div>

    </div>

    <div class="row">
        <!-- not active -->
        <div class="square col-sm-4">
            <div class="not-active-thumb hideMob">
                <img src="app/img/archive.png" alt="Convert Archive">
                <h3>archive</h3>
                <h6>Coming soon...</h6>
            </div>
        </div>

        <!-- not active -->
        <div class="square col-sm-4">
            <div class="not-active-thumb hideMob">
                <img src="app/img/ebook.png" alt="Convert Ebook">
                <h3>ebook</h3>
                <h6>Coming soon...</h6>
            </div>
        </div>

        <!-- not active -->
        <div class="square col-sm-4">
            <div class="not-active-thumb hideMob">
                <img src="app/img/video.png" alt="Convert Video">
                <h3>video</h3>
                <h6>Coming soon...</h6>
            </div>
        </div>

    </div>

    <!-- why-us thumb -->
    <div class="row">
        <h2>why us?</h2>
        <div class="col-sm-3">
            <h4><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> convenience</h4>
            <p>- No software to download!<br/>Just select your file, pick a format to convert to and away you go.</p>
        </div>
        <div class="col-sm-3">
            <h4><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> speed</h4>
            <p>- We aim to complete all our conversions in under 10 minutes.</p>
        </div>
        <div class="col-sm-3">
            <h4><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> formats</h4>
            <p>- We support 14+ file formats.</p>
        </div>
        <div class="col-sm-3">
            <h4><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> support</h4>
            <p>- Got a file you can't convert ? Just email us and we'll ask our dedicated engineers to take a look for you.</p>
        </div>    
    </div>
  
</div>

<!-- footer -->
<footer class="container">
    <div class="row">
        <div class="col-sm-12">
            <ul>
                <li><a ng-click="HomeCtrl.showFaq()">faq</a></li>
                <li><a ng-click="HomeCtrl.showTermsOfuse()">terms of use</a></li>
                <li><a ng-click="HomeCtrl.showPrivacy()">privacy policy</a></li>
                <li><a ng-click="HomeCtrl.showAboutUs()">about us</a></li>
            </ul>
        </div>
        <div class="col-sm-12 rights">
            <ul>
                <li>&#169; 2016 Any-Converter</li>
                <li>|</li>
                <li>All rights reserved.</li>
            </ul>
        </div>
    </div>
</footer>
