<!-- -->
<!-- Created by Siumbeli Vladislav on Jun 14, 2016. -->
<!-- -->

<div class="container">
	<h1>Document Converter</h1>
	<p>Just follow these simple steps below!</p>

	<!-- advertise -->
	<div class="row">
		<div class="col-sm-2"></div>

		<div class="square col-sm-8">
	        <div class="adv-thumb">
	        </div>
	    </div>

	 	<div class="col-sm-2"></div>
	</div>

	<!-- insert box -->
	<div class="row">
	<div class="col-sm-2"></div>
		<div class="col-sm-8 steps">
		<h2>step 1</h2>
		<p>Select your file</p>
		<hr>
		</div>
		<div class="col-sm-2"></div>
	</div>

	<div class="row">
		<div class="col-sm-2"></div>

		<div class="square col-sm-8">
	        <div class="insert-thumb">

	            <div class="box">
					<input
							ngf-select="DocConvCtrl.selectFile($files)"
							ngf-pattern="DocConvCtrl.documentPattern"
							nfg-max-size="20Mb"
							type="file" name="file" id="file" ng-click="showme=true"
							class="inputfile"/>
					<label for="file">
						<strong>
							<img src="app/img/adddoc.png"> Choose a file&hellip;
						</strong>
					</label>
					<div ng-show="showme">
						<hr/>
						<p class="col-sm-6">NAME:  {{ DocConvCtrl.file.name}}</p>
						<p class="col-sm-6">SIZE:  {{ ((DocConvCtrl.file.size)/1000).toFixed(2) }} KB</p>
					</div>
				</div> 

	        </div>
	    </div>

	   	<div class="col-sm-2"></div>
	</div>

	<!-- choose type box -->
	<div class="row">
	<div class="col-sm-2"></div>
		<div class="col-sm-8 steps">
		<h2>step 2</h2>
		<p>Choose format convert to</p>
		<hr>
		</div>
		<div class="col-sm-2"></div>
	</div>

    <div class="row">
        <div class="col-sm-4"></div>

		<div class="square col-sm-4">
			<p>Convert to:</p>
			
			<ui-select ng-model="DocConvCtrl.to">
			    <ui-select-match>
			        <span ng-bind="$select.selected.caption"></span>
			    </ui-select-match>
			    <ui-select-choices repeat="extension.value as extension in (DocConvCtrl.documentFormats | filter: $select.search) track by extension.value">
			        <span ng-bind="extension.caption"></span>
			    </ui-select-choices>
			</ui-select>
		</div>

		<div class="col-sm-4"></div>
	</div>
            
    <!-- convert button -->
    <div class="row">
	<div class="col-sm-2"></div>
		<div class="col-sm-8 steps">
		<h2>step 3</h2>
		<p>Convert you file by click on button</p>
		<hr>
		</div>
		<div class="col-sm-2"></div>
	</div>

    <div>
	    <div class="square col-sm-12">
	        <button class="convert" ng-click="DocConvCtrl.convert()">convert</button>
	    </div>
	</div>

    <!-- advertise -->
    <div class="row">
		<div class="col-sm-2"></div>

		<div class="square col-sm-8">
	        <div class="adv-thumb">
	        </div>
	    </div>

	    <div class="col-sm-2"></div>
	</div>

	<!-- back link -->
	<div class="square col-sm-12">
        <a class="back" ui-sref="app.home">back</a>
    </div>
</div>

<!-- footer -->
<footer class="container">
    <div class="row">
        <div class="col-sm-12">
            <ul>
                <li><a ng-click="DocConvCtrl.showFaq()">faq</a></li>
				<li><a ng-click="DocConvCtrl.showTermsOfservice()">terms of service</a></li>
                <li><a ng-click="DocConvCtrl.showPrivacy()">privacy</a></li>
                <li><a ng-click="DocConvCtrl.showContact()">contact</a></li>
            </ul>
        </div>
    </div>
</footer>
