<!-- -->
<!-- Created by Siumbeli Vladislav on Jun 14, 2016. -->
<!-- -->

<div class="container">
	<h1>Document Converter</h1>

	<!-- advertise -->
	<div class="row">
		<div class="col-sm-2"></div>

		<div class="square col-sm-8">
	        <div class="adv-thumb">
	        </div>
	    </div>

	 	<div class="col-sm-2"></div>
	</div>

	<!-- insert box -->
	<div class="row">
		<div class="col-sm-2"></div>

		<div class="square col-sm-8">
	        <div class="insert-thumb">

	            <div class="box">
					<input type="file" name="file[]" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple />
					<label for="file">
						<figure>
							<img src="app/img/adddoc.png">
						</figure> 
						<span>Choose a file&hellip;</span>
					</label>
				</div> 

	        </div>
	    </div>

	   	<div class="col-sm-2"></div>
	</div>

	<!-- choose type box -->
    <div class="row">
        <div class="col-sm-3"></div>

        <div class="square col-sm-3">
			<div>
				<label>from:</label>
				<select>
					<option value="pdf">PDF</option>
					<option value="doc">DOC</option>
					<option value="word">Word</option>
				</select>
			</div>
		</div>

		<div class="square col-sm-3">
			<div>
				<label>to:</label>
				<select class="doctype">
					<option value="pdf">PDF</option>
					<option value="doc">DOC</option>
					<option value="word">Word</option>
				</select>
			</div>
		</div>

		<div class="col-sm-3"></div>
	</div>
            
    <!-- convert button -->
    <div class="square col-sm-12">
        <button class="convert">convert</button>
    </div>

    <!-- advertise -->
    <div class="row">
		<div class="col-sm-2"></div>

		<div class="square col-sm-8">
	        <div class="adv-thumb">
	        </div>
	    </div>

	    <div class="col-sm-2"></div>
	</div>

	<!-- back link -->
	<div class="square col-sm-12">
        <a class="back" ui-sref="app">back</a>
    </div>
</div>

<!-- footer -->
<footer class="container">
    <div class="row">
        <div class="col-sm-12">
            <ul>
                <li><a ng-click="DocConvCtrl.showFaQ()">faq</a></li>
                <li><a ng-click="DocConvCtrl.showToS()">terms of service</a></li>
                <li><a ng-click="DocConvCtrl.showPrI()">privacy</a></li>
                <li><a ng-click="DocConvCtrl.showSeC()">security</a></li>
                <li><a ng-click="DocConvCtrl.showSuP()">support</a></li>
            </ul>
        </div>
    </div>
</footer>
