<div class="container">
	<h1>Document Converter</h1>

	<!-- advertise -->
	<div class="row">
		<div class="col-sm-2"></div>

		<div class="square col-sm-8">
	        <div class="adv-thumb">
	        </div>
	    </div>

	 	<div class="col-sm-2"></div>
	</div>

	<!-- insert box -->
	<div class="row">
		<div class="col-sm-2"></div>

		<div class="square col-sm-8">
	        <div class="insert-thumb">
	        	<div class="drop">
	            	<h5>Drop you file here...</h5>
	            	<div class="fileUpload btn btn-primary">
    					<span>Choose file</span>
    					<input type="file" class="upload" />
					</div>
	        	</div>
	        </div>
	    </div>

	   	<div class="col-sm-2"></div>
	</div>

	<!-- choose type box -->
    <div class="row">
        <div class="col-sm-3"></div>

        <div class="square col-sm-3">
			<div>
				<label>from:</label>
				<select>
					<option value="pdf">PDF</option>
					<option value="doc">DOC</option>
					<option value="word">Word</option>
				</select>
			</div>
		</div>

		<div class="square col-sm-3">
			<div>
				<label>to:</label>
				<select class="doctype">
					<option value="pdf">PDF</option>
					<option value="doc">DOC</option>
					<option value="word">Word</option>
				</select>
			</div>
		</div>

		<div class="col-sm-3"></div>
	</div>
            
    <!-- convert button -->
    <div class="square col-sm-12">
        <button class="convert">convert</button>
    </div>

    <!-- advertise -->
    <div class="row">
		<div class="col-sm-2"></div>

		<div class="square col-sm-8">
	        <div class="adv-thumb">
	        </div>
	    </div>

	    <div class="col-sm-2"></div>
	</div>

	<!-- back link -->
	<div class="square col-sm-12">
        <a class="back" ui-sref="app">back</a>
    </div>
</div>

<!-- footer -->
<footer class="container">
    <div class="row">
        <div class="col-sm-12">
            <ul>
                <li><a href="#">faq</a></li>
                <li><a href="#">terms of service</a></li>
                <li><a href="#">privacy</a></li>
                <li><a href="#">security</a></li>
                <li><a href="#">support</a></li>
            </ul>
        </div>
    </div>
</footer>
